@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body{
    /* background-color: gray; */
    background: linear-gradient(90deg, #436bb4,#3c3ac5, #6389f8);
    background-size: 600% 600%;
    animation:  animate 6s ease-in-out infinite ;
}

@keyframes animate{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 50% 100% ;
    }
    100%{
        background-position: 0 50%;
    }
}
.container{
    width: 100%;
    height: 100vh;
}
.clear::after{
    content: "";
    display: block;
    clear: both;
}
.content{
    width: 50%;
    height: auto;
    position: absolute;
    top: 20%;
    left: 25%;
    border-radius: 10px;
    background-color: #fff;
}
.row{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-container{
    width: 100%;
    padding: 20px;
    text-align: center;
}
.col-container h1{
    text-align: center;
    margin-bottom: 20px;
}
.col-container h2{
    margin-bottom: 10px;
}
.col-container input{
    width: 100%;
    height: 50px;
    padding: 8px;
    border-radius: 4px;
    margin: 10px 0;
    font-size: 22px;
    outline: none;
    border: 1px solid black;
}
input:focus{
    border: 2px solid purple;
}
.heart{
    width: 100%;
    padding: 0 20px;
}
.heart i{
    font-size: 25px;
    float: right;
    padding: 10px;
}
.heart-red{
    color: red;
}
.heart-gray{
    color: #ccc;
}
.col-lg{
    width: 100%;
    height: 50px;
}
.col-container button{
    width: 100%;
    height: 50px;
    margin-bottom: 4px;
    border: none;
    font-size: 18px;
    border-radius: 6px;
}
#btn-user{
    color: white;
    background-color: blue;
}
#btn-user:hover{
    background-color: darkblue;
}
#btn-again{
    color: white;
    background-color: purple;
}
#btn-again:hover{
    background-color: rgb(85, 0, 110);
}
.col-container #result{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}
.btn-hide{
    display: none !important;
}
.btn-show{
    display: inline-block !important;
}